@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merienda', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #f8f8f8;
}

nav {
    align-items: center; 
    background: linear-gradient(to bottom, #3447db, #000000); 
    color: #fff; 
    margin-top: 5em;
    border-radius: 8px;
}

.container{
    background: linear-gradient(to bottom, #0a0a0a, #091395);
    color: white;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: color 0.3s ease;
    border-radius: 8px;
    background: linear-gradient(to bottom, #3498db, #040678); /* Gradien linear dari atas (biru) ke bawah (hitam) */
}

nav a:hover {
    font-weight: bold;
    color: #ffffff;
}

ul{
    display: flex;
}
li{
    margin: 0.5em;
}

.profile header {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.profile-img {
    width: 100%;
    max-width: 170px;
    border-radius: 50%;
    
}
.social-links{
    background-color: #fff;
    width: 100%;
    display: flex;
    gap: 20px; /* Menambahkan jarak antara ikon */
    align-items: center; /*  ikon di tengah secara vertikal */
    justify-content: center; /*  ikon di tengah secara horizontal */
    border-radius: 8px;
}
.social-links img:hover{
    transform: scale(1.2); /* Membesarkan ikon saat dihover */
    transition: transform 0.3s ease; /* Efek transisi untuk smooth*/
}
.social-links img {
    width: 30px; 
    height: auto; /* Menjaga aspek rasio */
}

.iconConnect{
    margin-left: 0.3em;
    width: 1em;  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color: #040404ef;
}

.jumbroton {
    padding: 20px;
    background: url(./assets/bg-jumbroton.jpg) center/cover no-repeat;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 8px;
}

#content {
    flex: 1;
    padding: 20px;
}

aside {
    width: 30%;
    padding-left: 20px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* ========================================================
=========================================================== */

.slideshow {
    max-width: 1000px;
    margin: auto;
}

.slideshow * {
    box-sizing: border-box;
}

/* GAMBAR */
.slideshow .gambar {
    position: relative;
    margin-top: 30px;
}

.slideshow .gambar .mySlides {
    position: relative;
    display: none;
}

.slideshow .gambar .mySlides img {
    max-width: 100%;
}

/* PREV-NEXT */
.slideshow .prev,
.slideshow .next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow .prev:before {
    content: "\276E";
}

.slideshow .next:before {
    content: "\276F";
}

.slideshow .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow .prev:hover,
.slideshow .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
